* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: serif;
    background-color: #ffffff;
}

.link-text {
    opacity: 1;
    color: #000;
    text-decoration: none; /* 밑줄 없애기 */
}

h2 {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    color: #000;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
}


a:hover .link-text,
#toggleView:hover .link-text {
    color: gray;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 25px;
}

.nav h2 {
    font-size: 16px;
    font-weight: medium;
}

.nav a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: medium;
}

.spacer {
    height: auto;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
    padding-right: 25px;
    padding-bottom: 40px;
}

section {
    padding-top: 40px;
    padding-bottom: 10px;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.photo-grid img {
    height: 200px;
    width: auto;
    object-fit: cover;
}

